diffusers==0.14.0
Pygments==2.14.0
numpy==1.24.2
Shapely==1.8.5.post1
torchvision==0.14.1+cu117
imutils==0.5.4
fvcore==0.1.5.post20221122
segment_anything==1.0
timm==0.6.13
omegaconf==2.2.3
transformers==4.27.4
webdataset==0.2.33
iopath==0.1.10
imageio==2.27.0
joblib==1.1.0
pytorch_lightning==2.0.1
pandas==2.0.0
regex==2022.10.31
imgaug==0.4.0
albumentations==0.5.2
kornia==0.5.0
matplotlib==3.7.1
opencv_python_headless==4.6.0.66
six==1.16.0
tabulate==0.8.10
tqdm==4.61.2
torch==1.13.1+cu117
scikit_image==0.19.3
easydict==1.9
caffe2==0.8.1
cityscapesscripts==2.2.2
dataclasses==0.8
einops==0.6.1
fairscale==0.4.13
fastapi==0.95.1
ftfy==6.1.1
gradio==3.30.0
memory_profiler==0.61.0
mmcv==2.0.0
mmdet==3.0.0
onnx==1.14.0
packaging==23.1
Pillow==9.5.0
PyYAML==6.0
scikit_learn==1.2.2
scipy==1.10.1
skimage==0.0
sync_batchnorm==0.0.1
termcolor==2.3.0
wandb==0.15.2
